<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration 配置-->
<configuration>
    <!--加载DB连接属性文件-->
    <properties resource="jdbc.properties"></properties>
    <!--设置打印日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--关闭一级缓存 localCacheScope-->
        <setting name="localCacheScope" value="STATEMENT"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <package name="com.xjs.cvs.pojo"/>
    </typeAliases>
    <!--增加分页插件 pageHelper-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <!--数据库环境配置-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="POOLED">
                <!--驱动，路径，用户名，密码-->
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置映射文件-->
    <mappers>
        <package name="com.xjs.cvs.mapper"/>
    </mappers>
</configuration>
